<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción en Curso</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="ins">
    <h1 class="t">Inscripción en Curso</h1>
    <form method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required><br><br>

        <label for="curso">Curso:</label>
        <select id="curso" name="curso">
            <option value="Matemáticas">Matemáticas</option>
            <option value="Ciencia">Ciencia</option>
            <option value="Historia">Historia</option>
        </select><br><br>

        <button type="submit">Enviar</button>
        
    </form>
</body>
</html>
